@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Noto+Serif+Display:wght@200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  }
}

body {
  font-family: "Noto Serif TC", serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Serif TC", serif;
  color: #231815;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: 0;
}

img {
  width: 100%;
  display: block;
}

.pc {
  display: block;
}

.mob {
  display: none;
}

@media (max-width: 1080px) {
  .pc {
    display: none;
  }
  .mob {
    display: block;
  }
}

h2, h3, h4, h5, h6, p {
  color: #fff;
}

h2 {
  font-size: 42px;
  line-height: 160%;
  font-weight: 600;
  letter-spacing: 10px;
}

@media (max-width: 600px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 36px;
  line-height: 160%;
  font-weight: 600;
  letter-spacing: 4px;
}

@media (max-width: 600px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-size: 28px;
  line-height: 160%;
  font-weight: 600;
  letter-spacing: 6px;
}

@media (max-width: 600px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-size: 24px;
  line-height: 160%;
  font-weight: 600;
  letter-spacing: 4px;
}

@media (max-width: 600px) {
  h5 {
    font-size: 16px;
  }
}

h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 20px;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  h6 {
    font-size: 16px;
  }
}

p {
  font-size: 16px;
  line-height: 160%;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: justify;
  margin-top: 20px;
}

@media (max-width: 600px) {
  p {
    font-size: 14px;
  }
}

input, button, select, textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: 0;
  padding: 10px 20px;
  position: relative;
}

.popup {
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.popup .popup_content {
  text-align: center;
  background-color: #fff;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-weight: 500;
}

.popup .popup_content.popup_img {
  width: 1200px;
  height: 820px;
  background: none;
}

@media (max-width: 1280px) {
  .popup .popup_content.popup_img {
    width: calc(100% - 80px);
    height: auto;
    max-height: 50vh;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .popup .popup_content.popup_img {
    width: calc(100% - 40px);
  }
}

.popup .popup_content.popup_img h5 {
  margin-bottom: 10px;
  color: #fff;
}

.popup .popup_content.popup_img p {
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  margin-top: 10px;
  color: #fff;
}

.popup .popup_content.popup_message {
  width: 320px;
  height: 60px;
  line-height: 60px;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
}

.popup .popup_content .close {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  right: 6px;
  top: 6px;
  text-align: center;
}

.popup .popup_content .close i {
  font-size: 32px;
  line-height: 40px;
}

.popup .popup_content .close:hover {
  cursor: pointer;
}

.popup.is_acted {
  display: block;
}

.popup_close {
  position: absolute;
  z-index: 200;
  right: 20px;
  top: 20px;
}

.popup_close span {
  color: #fff;
  font-size: 32px;
}

.popup_close:hover {
  cursor: pointer;
}

.fp-overflow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.fp-overflow:before {
  content: "";
  width: 0;
  height: 100vh;
}

@media (max-width: 800px) {
  .fp-overflow {
    height: auto;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  .fp-overflow {
    height: auto;
  }
}

#section0 .fp-overflow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#section0 .fp-overflow:after {
  content: "";
  width: 100%;
  height: 160px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0) 100%);
  display: none;
}

@media (max-width: 1080px) {
  #section0 .fp-overflow:after {
    display: block;
  }
}

@media (max-width: 800px) {
  #section0 .fp-overflow:after {
    height: 100px;
  }
}

#section0 .fp-overflow .page_title {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1440px) {
  #section0 .fp-overflow .page_title {
    width: 90%;
    padding-left: 120px;
  }
}

@media (max-width: 1080px) {
  #section0 .fp-overflow .page_title {
    width: 96%;
    padding-left: 0;
  }
}

#section0 .fp-overflow .page_title .title {
  color: #fff;
  opacity: .1;
  text-align: center;
  text-transform: uppercase;
  font-size: 112px;
  font-weight: 600;
  margin-bottom: -60px;
  font-family: "Playfair Display", serif;
}

@media (max-width: 800px) {
  #section0 .fp-overflow .page_title .title {
    font-size: 100px;
    margin-bottom: -50px;
  }
}

@media (max-width: 600px) {
  #section0 .fp-overflow .page_title .title {
    font-size: 60px;
    margin-bottom: -40px;
  }
}

@media (max-width: 400px) {
  #section0 .fp-overflow .page_title .title {
    font-size: 40px;
    margin-bottom: -20px;
  }
}

#section0 .fp-overflow .page_title h2 {
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  #section0 .fp-overflow .page_title h2 {
    margin-bottom: 20px;
  }
}

#section0 .fp-overflow .page_title h5 {
  margin: 20px 0 40px;
}

@media (max-width: 600px) {
  #section0 .fp-overflow .page_title h5 {
    margin: 20px 0;
  }
}

#section0 .fp-overflow .page_title h5.mg0 {
  margin: 0;
}

#section0 .fp-overflow .page_title p {
  text-align: center;
  margin-top: 0;
}

.frame {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 1480px) {
  .frame {
    width: 96%;
  }
}

.section,
.slide {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

@supports (-webkit-overflow-scrolling: touch) {
  .section, .slide {
    background-attachment: scroll;
  }
}

.slick-prev {
  left: 20px;
  z-index: 1;
}

.slick-next {
  right: 20px;
  z-index: 1;
}

.slick-dotted {
  padding-bottom: 20px;
}

.slick-dots li,
.slick-dots li button,
.slick-dots li button:before {
  width: 10px;
  height: 10px;
}

.slick-dots li button:before {
  background: #fff;
  border-radius: 12px;
  content: "";
}

#page_navigation {
  text-align: center;
}

#page_navigation > div {
  height: 36px;
  line-height: 36px;
  display: inline-block;
  margin: 0 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#page_navigation > div a {
  font-size: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #fff;
}

#page_navigation > div a span {
  vertical-align: middle;
  color: #fff;
}

#page_navigation .page_link {
  width: 36px;
  border-radius: 36px;
  margin: 0 6px;
}

#page_navigation .page_link.active_page, #page_navigation .page_link:hover {
  background: #231815;
}

#page_navigation .page_link.active_page a, #page_navigation .page_link:hover a {
  color: #fff;
}

.fancybox__container .fancybox__toolbar button {
  background: #fff;
}

.fancybox__container .fancybox__nav button {
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fancybox__container .fancybox__nav button:hover {
  background: #fff;
  opacity: 0.6;
}

header {
  width: 160px;
  height: 100vh;
  padding: 60px 40px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

@media (max-width: 1080px) {
  header {
    width: 480px;
    height: auto;
    padding: 20px 40px;
    background: transparent;
  }
}

@media (max-width: 960px) {
  header {
    width: 380px;
  }
}

@media (max-width: 600px) {
  header {
    width: 280px;
    padding: 20px 0 20px 20px;
  }
}

header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1080px) {
  header .logo a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header .logo a img {
  width: 80px;
}

@media (max-width: 960px) {
  header .logo a img {
    width: 60px;
  }
}

@media (max-width: 600px) {
  header .logo a img {
    width: 42px;
  }
}

header .logo a h1 {
  color: #231815;
  font-family: "Noto serif TC", sans-serif;
  font-size: 42px;
  font-weight: 700;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin: 40px auto;
}

@media (max-width: 1080px) {
  header .logo a h1 {
    font-size: 38px;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    text-align: left;
    margin: 20px 0 20px 40px;
    line-height: 1;
  }
}

@media (max-width: 960px) {
  header .logo a h1 {
    font-size: 32px;
    letter-spacing: 10px;
    margin: 10px 0 10px 40px;
  }
}

@media (max-width: 600px) {
  header .logo a h1 {
    font-size: 22px;
    letter-spacing: 4px;
    margin: 10px 0 10px 20px;
  }
}

header .logo a h1 span {
  display: inline-block;
  letter-spacing: 16px;
}

#menu {
  height: auto;
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  z-index: 2;
  padding: 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: none;
}

@media (max-width: 1080px) {
  #menu {
    padding: 24px 40px;
  }
}

@media (max-width: 960px) {
  #menu {
    padding: 11px 40px;
  }
}

@media (max-width: 600px) {
  #menu {
    padding: 7px 20px 7px 0;
  }
}

#menu.open {
  z-index: 10;
  width: 100%;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(75%, rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 1080px) {
  #menu.open {
    background: #fff;
  }
}

#menu .nav-trigger {
  width: 40px;
  height: 35px;
  position: relative;
  z-index: 3;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1080px) {
  #menu .nav-trigger {
    margin: 18px 0;
  }
}

@media (max-width: 960px) {
  #menu .nav-trigger {
    height: 30px;
    margin: 20px 0;
  }
}

#menu .nav-trigger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 9px;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menu .nav-trigger span:nth-child(1) {
  top: 0px;
}

#menu .nav-trigger span:nth-child(2), #menu .nav-trigger span:nth-child(3) {
  top: 15px;
}

@media (max-width: 960px) {
  #menu .nav-trigger span:nth-child(2), #menu .nav-trigger span:nth-child(3) {
    top: 12px;
  }
}

#menu .nav-trigger span:nth-child(4) {
  top: 30px;
}

@media (max-width: 960px) {
  #menu .nav-trigger span:nth-child(4) {
    top: 24px;
  }
}

@media (max-width: 1080px) {
  #menu .nav-trigger.open {
    z-index: 10;
  }
}

#menu .nav-trigger.open span {
  background: #000;
}

#menu .nav-trigger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#menu .nav-trigger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu .nav-trigger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu .nav-trigger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#menu nav {
  margin-right: 20px;
  opacity: 0;
  visibility: hidden;
  height: 0;
}

@media (max-width: 1080px) {
  #menu nav {
    width: 100%;
    padding-left: 40px;
  }
}

#menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1080px) {
  #menu nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#menu nav ul li {
  width: 30px;
  position: relative;
  padding-top: 20px;
  background: none;
  border-radius: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
  opacity: 0;
}

@media (max-width: 1080px) {
  #menu nav ul li {
    width: 100%;
    padding: 6px 0;
  }
}

#menu nav ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (max-width: 1080px) {
  #menu nav ul li:before {
    display: none;
  }
}

#menu nav ul li a {
  padding: 0;
}

#menu nav ul li a .nav-label {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 20px;
  letter-spacing: 6px;
  font-weight: 500;
  padding: 15px 0;
  height: 0;
  color: #fff;
  overflow: hidden;
}

@media (max-width: 1080px) {
  #menu nav ul li a .nav-label {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    color: #231815;
  }
}

#menu nav ul li:hover {
  background: #231815;
}

@media (max-width: 1080px) {
  #menu nav ul li:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

#menu nav.open {
  opacity: 1;
  visibility: visible;
  height: auto;
}

#menu nav.open ul li {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

#menu nav.open ul li .nav-label {
  height: auto;
}

#menu nav.open li:nth-child(1) {
  -webkit-transition: opacity 0.5s linear 0.1s, -webkit-transform 0.5s linear 0.1s;
  transition: opacity 0.5s linear 0.1s, -webkit-transform 0.5s linear 0.1s;
  transition: transform 0.5s linear 0.1s, opacity 0.5s linear 0.1s;
  transition: transform 0.5s linear 0.1s, opacity 0.5s linear 0.1s, -webkit-transform 0.5s linear 0.1s;
}

#menu nav.open li:nth-child(2) {
  -webkit-transition: opacity 0.5s linear 0.2s, -webkit-transform 0.5s linear 0.2s;
  transition: opacity 0.5s linear 0.2s, -webkit-transform 0.5s linear 0.2s;
  transition: transform 0.5s linear 0.2s, opacity 0.5s linear 0.2s;
  transition: transform 0.5s linear 0.2s, opacity 0.5s linear 0.2s, -webkit-transform 0.5s linear 0.2s;
}

#menu nav.open li:nth-child(3) {
  -webkit-transition: opacity 0.5s linear 0.3s, -webkit-transform 0.5s linear 0.3s;
  transition: opacity 0.5s linear 0.3s, -webkit-transform 0.5s linear 0.3s;
  transition: transform 0.5s linear 0.3s, opacity 0.5s linear 0.3s;
  transition: transform 0.5s linear 0.3s, opacity 0.5s linear 0.3s, -webkit-transform 0.5s linear 0.3s;
}

#menu nav.open li:nth-child(4) {
  -webkit-transition: opacity 0.5s linear 0.4s, -webkit-transform 0.5s linear 0.4s;
  transition: opacity 0.5s linear 0.4s, -webkit-transform 0.5s linear 0.4s;
  transition: transform 0.5s linear 0.4s, opacity 0.5s linear 0.4s;
  transition: transform 0.5s linear 0.4s, opacity 0.5s linear 0.4s, -webkit-transform 0.5s linear 0.4s;
}

#menu nav.open li:nth-child(5) {
  -webkit-transition: opacity 0.5s linear 0.5s, -webkit-transform 0.5s linear 0.5s;
  transition: opacity 0.5s linear 0.5s, -webkit-transform 0.5s linear 0.5s;
  transition: transform 0.5s linear 0.5s, opacity 0.5s linear 0.5s;
  transition: transform 0.5s linear 0.5s, opacity 0.5s linear 0.5s, -webkit-transform 0.5s linear 0.5s;
}

#menu nav.open li:nth-child(6) {
  -webkit-transition: opacity 0.5s linear 0.6s, -webkit-transform 0.5s linear 0.6s;
  transition: opacity 0.5s linear 0.6s, -webkit-transform 0.5s linear 0.6s;
  transition: transform 0.5s linear 0.6s, opacity 0.5s linear 0.6s;
  transition: transform 0.5s linear 0.6s, opacity 0.5s linear 0.6s, -webkit-transform 0.5s linear 0.6s;
}

#menu nav.open li:nth-child(7) {
  -webkit-transition: opacity 0.5s linear 0.7s, -webkit-transform 0.5s linear 0.7s;
  transition: opacity 0.5s linear 0.7s, -webkit-transform 0.5s linear 0.7s;
  transition: transform 0.5s linear 0.7s, opacity 0.5s linear 0.7s;
  transition: transform 0.5s linear 0.7s, opacity 0.5s linear 0.7s, -webkit-transform 0.5s linear 0.7s;
}

#menu nav.open li:nth-child(8) {
  -webkit-transition: opacity 0.5s linear 0.8s, -webkit-transform 0.5s linear 0.8s;
  transition: opacity 0.5s linear 0.8s, -webkit-transform 0.5s linear 0.8s;
  transition: transform 0.5s linear 0.8s, opacity 0.5s linear 0.8s;
  transition: transform 0.5s linear 0.8s, opacity 0.5s linear 0.8s, -webkit-transform 0.5s linear 0.8s;
}

#menu nav.open li:nth-child(9) {
  -webkit-transition: opacity 0.5s linear 0.9s, -webkit-transform 0.5s linear 0.9s;
  transition: opacity 0.5s linear 0.9s, -webkit-transform 0.5s linear 0.9s;
  transition: transform 0.5s linear 0.9s, opacity 0.5s linear 0.9s;
  transition: transform 0.5s linear 0.9s, opacity 0.5s linear 0.9s, -webkit-transform 0.5s linear 0.9s;
}

#menu nav.open li:nth-child(10) {
  -webkit-transition: opacity 0.5s linear 1s, -webkit-transform 0.5s linear 1s;
  transition: opacity 0.5s linear 1s, -webkit-transform 0.5s linear 1s;
  transition: transform 0.5s linear 1s, opacity 0.5s linear 1s;
  transition: transform 0.5s linear 1s, opacity 0.5s linear 1s, -webkit-transform 0.5s linear 1s;
}

#footer .fp-overflow {
  display: block;
  height: auto;
}

#footer nav {
  background: #009944;
  background: linear-gradient(100deg, #009944 0%, #1d2088 100%);
  padding: 10px 0;
}

#footer nav ul {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1280px) {
  #footer nav ul {
    width: 96%;
  }
}

@media (max-width: 800px) {
  #footer nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  #footer nav ul li {
    width: calc(100% / 3);
  }
}

#footer nav ul li a {
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 2px;
}

@media (max-width: 800px) {
  #footer nav ul li a {
    padding: 6px;
    font-size: 16px;
  }
}

#footer .company_intro {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1280px) {
  #footer .company_intro {
    width: 96%;
  }
}

@media (max-width: 800px) {
  #footer .company_intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#footer .company_intro .logo img {
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  margin-bottom: 6px;
}

#footer .company_intro .logo a {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 6px;
}

@media (max-width: 800px) {
  #footer .company_intro .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#footer .company_intro .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 800px) {
  #footer .company_intro .info ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#footer .company_intro .info ul li {
  font-size: 14px;
}

#footer .company_intro .info ul li span {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

#footer .company_intro .info ul li a {
  font-size: 14px;
  letter-spacing: 2px;
  display: inline-block;
  vertical-align: middle;
}

#footer .company_intro .info ul li + li {
  margin-left: 16px;
}

@media (max-width: 800px) {
  #footer .company_intro .info ul li + li {
    margin-left: 0;
    margin-top: 6px;
  }
}

#footer .company_intro .info .copyright {
  color: #b9b9b9;
  font-size: 12px;
  text-align: right;
  margin-top: 6px;
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  width: 0 !important;
}

#section0 {
  background-image: url(../img/news_bg.png);
  background-attachment: fixed;
}

#section0 .title {
  color: #fff;
  opacity: .1;
  text-align: center;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 600;
  margin-bottom: -60px;
  font-family: "Playfair Display", serif;
}

#section0 h5 {
  margin: 40px 0;
}

#section0 h5.mg0 {
  margin: 0;
}

#section0 p {
  text-align: center;
}

.news {
  background-image: url(../img/news_bg.png);
  background-color: rgba(21, 24, 32, 0.2);
  padding: 60px 0;
}

.news .fp-overflow {
  height: auto;
}

.news .news_outerbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .news_outerbox .filter {
  position: relative;
  z-index: 10;
}

.news .news_outerbox .filter .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.news .news_outerbox .filter .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 3px;
  border: 1px solid #fff;
  width: 220px;
  height: 48px;
  background: transparent;
}

.news .news_outerbox .filter .select + .select {
  margin-left: 20px;
}

.news .news_outerbox .filter .select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 4px 16px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  display: inline;
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
}

.news .news_outerbox .filter .select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 20px;
  right: 10px;
}

.news .news_outerbox .filter .select-styled:active:after, .news .news_outerbox .filter .select-styled.active:after {
  top: 12px;
  border-color: transparent transparent #fff transparent;
}

.news .news_outerbox .filter .select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.news .news_outerbox .filter .select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.news .news_outerbox .filter .select-options li:hover, .news .news_outerbox .filter .select-options li.is-selected {
  color: #009944;
  background: #fff;
}

.news .news_outerbox .filter .select-options li[rel="hide"] {
  display: none;
}

.news .news_outerbox .news_frame {
  margin-top: 60px;
}

.news .news_outerbox .news_frame .pagingBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news .news_outerbox .news_frame .pagingBox .item {
  width: calc((100% - 80px) / 4);
  margin: 0 10px 60px;
  text-align: left;
}

@media (max-width: 1240px) {
  .news .news_outerbox .news_frame .pagingBox .item {
    width: calc((100% - 40px) / 2);
  }
}

@media (max-width: 600px) {
  .news .news_outerbox .news_frame .pagingBox .item {
    width: calc((100% - 20px) / 1);
  }
}

.news .news_outerbox .news_frame .pagingBox .item .news_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .news_outerbox .news_frame .pagingBox .item .news_info .category {
  position: relative;
  background: url(../img/news_filter_bg.svg) right center no-repeat;
  background-size: contain;
  max-width: 150px;
}

.news .news_outerbox .news_frame .pagingBox .item .news_info .category h6 {
  color: #231815;
  padding: 0 20px 0 10px;
}

.news .news_outerbox .news_frame .pagingBox .item .news_info .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.news .news_outerbox .news_frame .pagingBox .item .news_info .date .year {
  font-size: 20px;
  padding-bottom: 8px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.news .news_outerbox .news_frame .pagingBox .item .news_info .date .month {
  font-size: 42px;
  color: #fff;
  font-weight: 700;
}

.news .news_outerbox .news_frame .pagingBox .item .news_info .date .month:before {
  content: ".";
  padding: 0 3px;
  color: #fff;
}

.news .news_outerbox .news_frame .pagingBox .item .news_photo {
  width: 100%;
  height: 0;
  padding-bottom: 66.66667%;
}

.news .news_outerbox .news_frame .pagingBox .item .news_content h5 {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 20px;
  line-height: 140%;
}

.news .news_outerbox .news_frame .pagingBox .item .news_content p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1080px) {
  .news .news_outerbox .news_frame .pagingBox .item .news_content p {
    -webkit-line-clamp: 2;
  }
}

.news .news_outerbox .news_frame .pagingBox .item .news_content .link {
  width: auto;
  margin: 0;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  background: none;
  text-align: left;
  margin-top: 10px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: 2px;
}

.news .news_outerbox .news_frame .pagingBox .item .news_content .link span {
  vertical-align: middle;
  margin-left: 6px;
  color: #fff;
  margin-bottom: 3px;
}
/*# sourceMappingURL=news.css.map */