header{
    width: 160px;
    height: 100vh;
    padding: 60px 40px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    @media (max-width:1080px){
        width: 480px;
        height: auto;
        padding: 20px 40px;
        background: transparent;
    }
    @media (max-width:960px){
        width: 380px;
    }
    @media (max-width:600px){
        width: 280px;
        padding: 20px 0 20px 40px;
    }
    .logo{
        a{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            @media (max-width:1080px){
                flex-direction: row;
            }
            img{
                width: 80px;
                @media (max-width:960px){
                    width: 60px;
                }
                @media (max-width:600px){
                    width: 42px;
                }
            }
            h1{
                color: #231815;
                font-family: $font-serif;
                font-size: 42px;
                font-weight: 700;
                letter-spacing: 16px;
                writing-mode: vertical-lr;
                margin: 40px auto;
                @media (max-width:1080px){
                    font-size: 38px;
                    writing-mode: horizontal-tb;
                    text-align: left;
                    margin: 20px 0 20px 40px;
                    line-height: 1;
                }
                @media (max-width:960px){
                    font-size: 32px;
                    letter-spacing: 10px;
                    margin: 10px 0 10px 40px;
                }
                @media (max-width:600px){
                    font-size: 24px;
                    letter-spacing: 6px;
                    margin: 10px 0 10px 20px;
                }
                span{
                    display: inline-block;
                    letter-spacing: 0;
                }
            }
            
        }
    }
}
#menu{  
    // width: calc(100% - 160px);
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    z-index: 2;
    padding: 60px 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    background: none;
    @media (max-width:1080px){
        // width: calc(100% - 480px);
        // background: #fff;
        padding: 24px 40px;
    }
    @media (max-width:960px){
        // width: calc(100% - 380px);
        padding: 11px 40px;
    }
    @media (max-width:600px){
        // width: calc(100% - 280px);
        padding: 7px 20px 7px 0;
    }
    &.open{
        z-index: 10;
        width: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,.6) 75%, rgba(0,0,0,0) 100%);
        @media (max-width:1080px){
            background: #fff;
        }
    }
    .nav-trigger {
        width: 40px;
        height: 35px;
        position: relative;
        z-index: 3;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        @media (max-width:1080px){
            margin: 18px 0;
        }        
        @media (max-width:960px){
            height: 30px;
            margin: 20px 0;
        }
        span {
            display: block;
            position: absolute;
            height: 5px;
            width: 100%;
            border-radius: 9px;
            background: #fff;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            @media (max-width:1080px){
                background: #231815;
            }
            
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2),&:nth-child(3) {
                top: 15px;
                @media (max-width:960px){
                    top: 12px;
                }
            }
        
            &:nth-child(4) {
                top: 30px;
                @media (max-width:960px){
                    top: 24px;
                }
            }
        }
      
        &.open{
            @media (max-width:1080px){
                z-index: 10;
            }
            span{
                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }

        }
    }

    nav{
        margin-right: 20px;
        opacity: 0;
        visibility: hidden;
        height: 0;
        @media (max-width:1080px){
            width: 100%;
            padding-left: 40px;
        }
        ul {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            @media (max-width:1080px){
                flex-direction: column;
            }

            li {
                width: 30px;
                position: relative;
                padding-top: 20px;
                background: none;
                border-radius: 20px;
                transition: all .3s;
                transform: translateY(300%);
                opacity: 0;
                @media (max-width:1080px){
                    width: 100%;
                    padding: 6px 0;
                }

                &:before{
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 5px;
                    background: #fff;
                    position: absolute;
                    top: 15px;
                    left: 50%;
                    transform: translate(-50%);
                    @media (max-width:1080px){
                        display: none;
                    }
                }

                a{
                    padding: 0;
                
                    .nav-label {
                        writing-mode: vertical-lr;
                        font-size: 20px;
                        letter-spacing: 6px;
                        font-weight: 500;
                        padding: 15px 0;
                        height: 0;
                        color: #fff;
                        overflow: hidden;
                        @media (max-width:1080px){
                            writing-mode: horizontal-tb;
                            color: #231815;
                        }
                    }
                }

                &:hover{
                    background: #231815;
                    @media (max-width:1080px){
                        background: rgba(0,0,0,.1);
                    }
                }
            }
        }
        &.open{
            opacity: 1;
            visibility: visible;
            height: auto;
            ul{
                li{
                    transform: translateY(0);
                    opacity: 1;

                    .nav-label {
                        height: auto;
                    }
                }
            }
        }
    }

    &.home{

        // .nav-trigger {
            
        //     span {
        //         background: #231815;
        //     }
        // }
        // &.open{

        //     .nav-trigger {
                
        //         span {
        //             background: #fff;
        //         }
        //     }
        // }

        // nav{
        //     ul {

        //         li {

        //             &:before{
        //                 background: #231815;
        //             }

        //             a{
                    
        //                 .nav-label {
        //                     color: #231815;
        //                     @media (max-width:1080px){
        //                         // color: #fff;
        //                     }
        //                 }
        //             }

        //             &:hover{
        //                 background: #fff;
        //             }
        //         }
        //     }
        // }
    }
    


    
      
      
      
      @for $i from 1 through 10 {
        nav.open li:nth-child(#{$i}) {
            transition: transform 0.5s linear (0.1s*$i), opacity 0.5s linear (0.1s*$i);
        }
      }
      
      

      
}