@import '_setting';
@import '_header';
@import '_footer';
::-webkit-scrollbar {
    width: 0 !important;
}

#section0{
    background-image: url(../img/aboutus_bg.png);
}
.aboutus{
    background-image: url(../img/aboutus-intro_bg.png);
    .fp-overflow{
        align-items: center;
        &:before{
            content: "";
            width: 0;
            height: 100vh;
        }
        .aboutus_frame{
            h5{
                margin-bottom: 60px;
                @media (max-width:600px){
                    margin-bottom: 40px;
                }
            }
            p{
                text-align: center;
            }
        }
    }
}
.chairman{
    background: #231815;
    .fp-overflow{
        align-items: center;
        justify-content: center;
    }
    .chairman_frame{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:1080px){
            flex-direction: column-reverse;
        }

        .chairman_info{
            margin-right: 100px;
            @media (max-width:1080px){
                width: 80%;
                margin-right: 0;
            }
            h3{
                text-align: left;
            }
        }
        .chairman_photo{
            @media (max-width:1080px){
                width: 80%;
                margin-bottom: 20px;
            }

        }
    }
}
.concept{
    background-image: url(../img/aboutus-concept_bg.png);
    .fp-overflow{
        align-items: center;
        justify-content: center;
    }
    .concept_frame{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @media (max-width:1080px){
            flex-direction: column;
        }
        h3{
            width: 100%;
            margin-bottom: 80px;
            @media (max-width:600px){
                margin-bottom: 40px;
            }
        }
        .concept_photo{
            width: 60%;
            @media (max-width:1080px){
                width: 80%;
                margin-bottom: 20px;
            }
        }
        .concept_content{
            width: calc(40% - 60px);
            @media (max-width:1080px){
                width: 80%;
            }
            ul{
                display: flex;
                flex-direction: column;
                li{
                    width: 100%;
                    margin-bottom: 40px;
                    @media (max-width:600px){
                        margin-bottom: 20px;
                    }
                    &:nth-child(odd){
                        margin-right: 40px;
                    }
                    h5{
                        text-align: left;
                    }
                    p{
                        margin-top: 10px;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; 
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                    }
                    
                }
            }
        }
    }

}
.projects{
    background: #231815;
    .fp-overflow{
        align-items: center;
        justify-content: center;
        .projects_outerbox{
            width: 100%;
            .projects_frame{
                max-width: 1200px;
                @media (max-width:600px){
                    width: 68%;
                }
        
                h3{}
                .projects_list{
                    margin-top: 40px;
                    overflow: hidden;
                    .item{
                        width: calc((100% - 40px) / 2);
                        float: left;
                        position: relative;
                        margin-bottom: 40px;
                        @media (max-width:600px){
                            width: 100%;
                            margin-bottom: 20px;
                            &:nth-child(4){
                                display: none;
                            }
                        }
                        &:nth-child(odd){
                            margin-right: 40px;
                            @media (max-width:600px){
                                margin-right: 0;
                            }
                        }
                        .photo{
                            width: 100%;
                            height: 0;
                            padding-bottom: 58%;
                            overflow: hidden;
                            position: relative;
                            &:after{
                                content: "";
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: rgba(0,0,0,.5);
        
                            }
                        }
                        .info{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            h4{}
                            a{
                                // width: 160px;
                                display: inline-block;
                                margin: 0 auto;
                                padding: 4px 12px;
                                text-transform: uppercase;
                                vertical-align: middle;
                                color: #fff;
                                background: rgb(27,117,68);
                                background: linear-gradient(100deg, rgba(27,117,68,1) 0%, rgba(43,50,106,1) 100%);                    
                                text-align: center;
                                margin-top: 10px;
                                font-family: $font-en;
                                font-weight: 600;
                                letter-spacing: 2px;
                                border-radius: 10px;
                                @media (max-width:600px){
                                    font-size: 14px;
                                }
                                span{
                                    vertical-align: middle;
                                    margin-left: 6px;
                                    color: #fff;
                                    margin-bottom: 3px;
                                    transition: all .3s;
                                }
                                &:hover{
                                    span{
                                        transform: translateX(10px);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
