@import '_setting';
@import '_header';
@import '_footer';
::-webkit-scrollbar {
    width: 0 !important;
}

#section0{
    background-image: url(../img/contactus_bg.png);

    .title{
        color: #fff;
        opacity: .1;
        text-align: center;
        text-transform: uppercase;
        font-size: 120px;
        font-weight: 600;
        margin-bottom: -60px;
        font-family: $font-en;
    }
    h2{
        margin-bottom: 40px;
    }
    .page_title ul{
        width: 600px;
        margin: 60px auto;
        @media (max-width:640px){
            width: 96%;
        }
        li{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            @media (max-width:600px){
                flex-direction: column;
                margin-bottom: 40px;
            }

            .topic{
                display: flex;
                align-items: center;
                span{
                    color: #fff;
                }
                h6{
                    background-color: #fff;
                    border-radius: 20px;
                    padding: 4px 12px;
                    color: #231815;
                    display: inline-block;
                    margin: 0 40px 0 10px;
                }
            }
            .content{
                display: flex;
                align-items: center;
                @media (max-width:600px){
                    margin-top: 10px;
                }
                h6{
                    color: #fff;
                    display: inline-block;
                    margin-top: 0;
                }
                a.social{
                    width: 32px;
                    display: inline-block;
                }
                a.social + a.social{
                    margin-left: 12px;
                }
            }
        }
    }
}
.form{
    // background: #231815;
    background-image: url(../img/contactus_bg.png);
    .fp-overflow{
        align-items: center;
        justify-content: center;
    }
    .form_outerbox{
        width: 100%;
        .form_frame{
            max-width: 760px;
            @media (max-width:800px){
                width: 96%;
            }
            .item{
                width: 100%;
                text-align: left;
                input, select, textarea{
                    width: 100%;
                    height: 52px;
                    margin-bottom: 16px;
                    font-size: 18px;
                    line-height: 160%;
                    font-family: $font-sans;
                    letter-spacing: 2px;
                    &:checked, &:focus{
                        outline: 0;
                        border: 0;
                    }
                }
                textarea{
                    width: 100%;
                    height: 120px;
                    resize: none;
                    display: block;
                }
                ::placeholder{
                    font-size: 18px;
                    line-height: 160%;
                    color: #231815;
                    font-weight: 400;
                    font-family: $font-sans;
    
                }
                input[type="checkbox"]{
                    width: 20px;
                    height: 20px;
                    background: #fff;
                    padding: 0;
                    margin-right: 10px;
                    float: left;
                    &:checked{
                        background-image: url(../img/check.svg);
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
                .checktxt{
                    width: calc(100% - 40px);
                    font-family: $font-sans;
                    letter-spacing: 3px;
                    color: #fff;
    
                    a{
                        display: inline-block;
                        font-size: 14px;
                        text-decoration: underline;
                        color: #fff;
                    }
                }
            }

            .selectbox{
                position: relative;
                z-index: 10;
                .select-hidden {
                    display: none;
                    visibility: hidden;
                    padding-right: 10px;
                }
                .select {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    font-size: 20px;
                    color: #fff;
                    font-weight: 600;
                    letter-spacing: 3px;
                    width: 100%;
                    height: 52px;
                    background: #fff;
                    margin-bottom: 10px;
                }
                .select + .select{
                    margin-left: 20px;
                }
                .select-styled {
                    font-family: $font-sans;
                    position: absolute; 
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    color: #231815;
                    padding: 4px 16px;
                    transition: all 0.2s ease-in;
                    display: inline;
                    font-size: 18px;
                    letter-spacing: 2px;
                    line-height: 40px;
                    font-weight: 400;
                    &:after {
                        content:"";
                        width: 0;
                        height: 0;
                        border: 7px solid transparent;
                        border-color: #000 transparent transparent transparent;
                        position: absolute;
                        top: 20px;
                        right: 10px;
                    }
                    &:hover {
                        // background-color: #fff;
                        // color: #231815
                    }
                    &:active, &.active {
                        // background-color: darken($select-background, 5);
                        &:after {
                            top: 12px;
                            border-color: transparent transparent #000 transparent;
                        }
                    }
                }
                    
                .select-options {
                    display: none; 
                    position: absolute;
                    top: 100%;
                    right: 0;
                    left: 0;
                    z-index: 999;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    background-color: #fff;
                    border-bottom: 1px solid #ccc;
                    li {
                        margin: 0;
                        padding: 12px 0;
                        text-indent: 15px;
                        // border-top: 1px solid darken($select-background, 10);
                        transition: all 0.15s ease-in;
                        font-family: $font-sans;
                        font-weight: 400;
                        font-size: 18px;
                        border-top: 1px solid #ccc;
                        &:hover, 
                        &.is-selected {
                            color: #000;
                            background: rgba(0,0,0,0.2);
                        }
                        &[rel="hide"] {
                            display: none;
                        }
                    }
                }
            }
            button{
                width: 180px;
                margin: 40px auto;
                background: #fff;
                color: #231815;
                font-size: 28px;
                line-height: 160%;
                font-weight: 500;
                letter-spacing: 2px;
                display: block;
                &:hover{
                    cursor: pointer;
            
                }
            }
        }
    }
}
