@import '_setting';
@import '_header';
@import '_footer';
::-webkit-scrollbar {
    width: 0 !important;
}

#section0{
    background-image: url(../img/hotsale_bg.png);
}
.aboutus{
    background: rgb(27,117,68);
    background: linear-gradient(100deg, rgba(27,117,68,1) 0%, rgba(43,50,106,1) 100%);
    h5{
        margin-bottom: 60px;
    }
    p{
        text-align: center;
    }
}
.hotsale{
    @media (max-width:600px){
        background: url(../img/home-hotsale_bg.png) right bottom no-repeat;
        background-size: cover;
    }
    .fp-overflow{
        overflow: hidden;
        @media (max-width:1080px){
            flex-direction: column;
            &::before{
                display: none;
            }
        }
    }
    &:nth-child(even){
        .fp-overflow{
            flex-direction: row-reverse;
            @media (max-width:1080px){
                flex-direction: column;
                &::before{
                    display: none;
                }
            }
        }
    }
    .hotsale_photo{
        width: calc(100% - 600px);
        height: 100vh;
        overflow: hidden;
        @media (max-width:1480px){
            width: calc(100% - 480px);
        }
        @media (max-width:1080px){
            width: 100%;
            height: auto;
            &.slick-dotted.slick-slider{
                margin-bottom: 0;
                padding-bottom: 0;
            }
            &.slick-initialized .slick-slide{
                margin-bottom: -6px;
            }
        }
        .item{
            height: 100vh;
            @media (max-width:1080px){
                height: 0;
                padding-bottom: 82%;
            }
        }
        .slick-dots{
            bottom: 20px;
            li button:before{
                opacity: .5;
            }
            li.slick-active button:before{
                opacity: .9;
            }
        }
    }
    .hotsale_intro{
        width: 600px;
        float: right;
        background: url(../img/home-hotsale_bg.png) right center no-repeat;
        background-size: cover;
        text-align: left;
        padding: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width:1480px){
            width: 480px;
            padding: 20px 80px;
        }
        @media (max-width:1080px){
            width: 100%;
            background-position: right bottom;
            padding: 20px 60px;
        }
        @media (max-width:600px){
            padding: 20px 40px;
            background: none;
        }
        h6{
            margin-top: 0;
        }
        p{
            margin-top: 40px;
        }
        .hotsale_intro_info{
            text-align: left;
            margin-top: 40px;
            .logo{
                display: inline-flex;
                img{
                    width: 60px;
                }
                h5{
                    margin-left: 12px;
                }
                
            }
            .location{
                padding-left: 20px;
                border-left: 1px solid #fff;
                margin-top: 10px;
                span{
                    font-size: 14px;
                    display: block;
                    font-family: $font-sans;
                    color: #fff;
                    letter-spacing: 2px;
                }
            }

            .link{
                background: #fff;
                border-radius: 10px;
                display: inline-block;
                margin-top: 20px;
                padding: 6px 12px 4px;
                a{
                    // width: 160px;
                    display: block;
                    margin: 0 auto;
                    text-transform: uppercase;
                    vertical-align: middle;
                    color: transparent;
                    background: rgb(27,117,68);
                    background: linear-gradient(100deg, rgba(27,117,68,1) 0%, rgba(43,50,106,1) 100%);                    
                    background-clip: text;
                    -webkit-background-clip: text;
                    // background: #fff;
                    text-align: center;
                    font-family: $font-en;
                    font-weight: 600;
                    letter-spacing: 2px;
                    span{
                        vertical-align: middle;
                        margin-left: 6px;
                        color: rgba(43,50,106,1);
                        margin-bottom: 3px;
                        transition: all .3s;
                    }
                    &:hover{
                        span{
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }
    }
}
