@import '_setting';
@import '_header';
@import '_footer';
::-webkit-scrollbar {
    width: 0 !important;
}

$select-color: #fff;
$select-background: #009944;

#section0{
    background-image: url(../img/newspage_bg.png);

    .newspage_intro{
        h4{
            color: #fff;
        }
        h6{
            color: #fff;
            margin-top: 10px;
            letter-spacing: 4px;
        }
        .type{
            display: inline-block;
            color: #231815;
            background: #fff;
            padding: 4px 12px;
            font-family: $font-sans;
            margin-bottom: 40px;
        }
        .date{
            color: #fff;
            margin-top: 40px;
            letter-spacing: 2px;
            font-weight: 600;
        }
    }
}
.style1{
    background-image: url(../img/newspage_bg.png);
    .fp-overflow{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:before{
            display: none;
        }
        h3{
        }
        p{
            text-align: center;
        }
        .photo_frame{
            display: flex;
            margin: 40px 0;
            img{
                width: calc((100% - 20px) / 3);
                @media (max-width:960px){
                    width: calc((100% - 10px) / 2);
                    &:nth-child(3){
                        display: none;
                    }
                }
                @media (max-width:640px){
                    width: 100%;
                    &:nth-child(2){
                        display: none;
                    }
                }
            }
            img + img{
                margin-left: 10px;
            }
        }
    }
}
.style2{
    background-image: url(../img/newspage_bg.png);
    padding-bottom: 100px;
    .fp-overflow{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:before{
            display: none;
        }
        .newsframe{
            max-width: 960px;
        }
        h5{
            margin-top: 20px;
        }
        p{
            text-align: left;
        }
        .photo{
            width: 600px;
            margin: 0 auto 40px;
        }


        .link{
            background: #fff;
            border-radius: 10px;
            display: inline-block;
            margin-top: 100px;
            padding: 6px 12px 4px;
            a{
                display: block;
                margin: 0 auto;
                text-transform: uppercase;
                vertical-align: middle;
                color: 231815;
                text-align: center;
                font-family: $font-en;
                font-weight: 600;
                letter-spacing: 2px;
                span{
                    vertical-align: middle;
                    margin-left: 6px;
                    color: rgba(43,50,106,1);
                    margin-bottom: 3px;
                    transition: all .3s;
                }
                &:hover{
                    span{
                        transform: translateX(-10px);
                    }
                }
            }
        }
    }
}
